@import "variables";

@mixin project_dark {
  .project-card {
    background-color: $alt-bg-color-dark;
  }
}

body.colorscheme-dark {
  @include project_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include project_dark();
  }
}
