@import "variables";

.talks {
  table {
    width: 100%;
    table-layout: fixed;
  }

  td,
  th {
    background-color: $bg-color;
    text-align: left;
    vertical-align: text-top;
    border: none;
  }

  th {
    border-bottom: 0.2rem solid $fg-color;
  }

  th:nth-child(1) {
    width: 15%;
  }

  td {
    border-bottom: 0.1rem solid $fg-color;
  }
}
