@import "variables";

/* Organizational tags */

.talk {
  &:not(:last-child) {
    margin: 0 0 4rem;
  }
}
dt {
  font-weight: bold;
}
dd {
  margin: 1rem 0;
  padding: 0 2.5rem;
}
details {
  display: block;
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid $fg-color;
}
details > * {
  margin: 0;
}
details p {
  &:not(:last-child) {
    margin: 0 0 2rem;
  }
}
summary {
  cursor: pointer;
}
details[open] > summary {
  padding: 1rem;
  border-bottom: 1px solid $fg-color;
  background: $alt-bg-color;
  margin: -1rem -1rem 1rem;
}
