@import "variables";

/* Organizational tags */

@mixin talk_dark {
  .talks {
    td,
    th {
      border: 0;
      background-color: $bg-color-dark;
    }

    th {
      border-bottom: 0.2rem solid $fg-color-dark;
    }

    td {
      border-bottom: 0.1rem solid $fg-color-dark;
    }

    details {
      border: 1px solid $fg-color-dark;
    }

    details[open] > summary {
      border-bottom: 1px solid $fg-color-dark;
      background: $alt-bg-color-dark;
    }
  }
}

body.colorscheme-dark {
  @include talk_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include talk_dark();
  }
}
