{{ $formatted_coauthors := slice }}
{{ range  .paper.coauthors }}
  {{ $coauthor := "" }}
  {{ if .url  }}
    {{ $coauthor = printf "<a target=\"_blank\" href=\"%s\">%s</a>" .url .name }}
  {{ else }}
    {{ $coauthor = .name }}
  {{ end }}
  {{ $formatted_coauthors = $formatted_coauthors | append $coauthor }}
{{ end }}

<div class="paper">
  <dt>[{{ .index }}] "{{  .paper.title }}"</dt>
  <dd>
    <div>With {{ delimit $formatted_coauthors ", " " and " | safeHTML }}. ({{ .paper.date }})</div>
    <div>Preprint: <a target="_blank" href="{{  .paper.resource.url | safeURL}}">{{  .paper.resource.title }}</a></div>
    <div>
      <details>
        <summary>Abstract</summary>
        {{ range  .paper.abstract }}
        <p>{{ . }}</p>
        {{ end }}
      </details>
    </div>
  </dd>
</div>
