{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container list">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{ .Title }}
      </a>
    </h1>
  </header>
  {{ .Content }}
  <h2>Invited talks</h2>
  <div class="talks">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
        </tr>
      </thead>
      {{ range sort (where .Site.Data.talks "class" "invited") "date" "desc" }}
        {{ partial "talk.html" . }}
      {{ end }}
    </table>
  </div>
  <h2>Research talks</h2>
  <div class="talks">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
        </tr>
      </thead>
      {{ range sort (where .Site.Data.talks "class" "research") "date" "desc" }}
        {{ partial "talk.html" . }}
      {{ end }}
    </table>
  </div>
  <h2>Other talks</h2>
  <div class="talks">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
        </tr>
      </thead>
      {{ range sort (where .Site.Data.talks "class" "other") "date" "desc" }}
        {{ partial "talk.html" . }}
      {{ end }}
    </table>
  </div>
</section>
{{ end }}
