{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container list">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{ .Title }}
      </a>
    </h1>
  </header>
  {{ .Content }}
  <h2>Preprint</h2>
  <div>
    <dl>
      {{ $num_papers := .Site.Data.papers | len }}
      {{ range $index, $paper := sort (where .Site.Data.papers "class" "Preprint") "date" "desc"}}
        {{ $context := dict "index" (sub $num_papers $index) "paper" $paper }}
        {{ partial "paper.html" $context }}
      {{ end }}
    </dl>
  </div>
</section>
{{ end }}
